@import url(./reset.css);

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  background-color: #202126;
}

main {
  display: grid;
  align-items: center;
  text-align: center;
}

.timer {
  margin-top: 20%;
}

.time {
  font-size: 90px;
}

.date {
  font-size: 50px;
}

.alarm-time-display {
  font-size: 30px;
}

.alarm {
  margin-top: 4%;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.6px;
  font-weight: 600px;
}

.form {
  margin-top: 4%;
}

.alarm-time {
  padding: 10px 0px;
  background-color: #37383d;
  border-radius: 25px;
  text-align: center;
  color: #9a9a9d;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.6px;
}

.input {
  margin-bottom: 4%;
}

.set-alarm {
  padding: 10px 30px;
  background-color: #019d5d;
  border-radius: 25px;
  margin-left: 20px;
  text-align: center;
  color: #fdfefe;
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.6px;
}

.clear-alarm {
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid #fcfcfc;
  border-radius: 25px;
  margin-left: 20px;
  text-align: center;
  color: #fdfefe;
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.6px;
}
